@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>My First Unit Test With Jasmine And RequireJS</title>

    <!-- Include the Jasmine assets for running in an HTML page. -->
    <link rel="stylesheet" type="text/css" href="~/Content/jasmine.css" />
    <script type="text/javascript" src="~/Scripts/jasmine-2.0.0/jasmine.js"></script>
    <script type="text/javascript" src="~/Scripts/jasmine-2.0.0/jasmine-html.js"></script>
    <script type="text/javascript" src="~/Scripts/jasmine-2.0.0/boot.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/utility.js"></script>

    <!--spec-->
    <script type="text/javascript" src="~/Scripts/Tests/utilityspec.js"></script>

</head>
<body>
    <!-- Left intentionally blank. -->
</body>
</html>