@{
    ViewBag.Title = "Home Page";
}
<h3>Hosted Apps:</h3>
<h5>Start Test App</h5>
<button id="btTest">Init App</button>
<div>
    <iframe src="~/Content/TestApp/preview.html" style="width: 250px; height: 200px;border: 1px solid #414141;"></iframe>
</div>
<!--Test App-->
<iframe src="~/Content/TestApp/index.html" style="border: 1px solid #414141;"></iframe>
