@{
    ViewBag.Title = "Home Page";
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Start Test App</h5>
        <button id="btTest">Start App</button>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
<!--Test App-->
<iframe src="~/Content/TestApp/index.html" style="border: 1px solid #414141;">
</iframe>
