@{
    ViewBag.Title = "Home Page";
}
<script>
    $(document).ready(function () {
        ServerApi.fetchApplications().done(function (apps) {
            apps.forEach(function (app) {
                var frame = document.createElement("iframe");
                frame.src = app.previewUrl;
                frame.id = app.id;
                $(".app-container").append(frame);
                $(frame).load(function () {
                    ServerApi.initApp(app.id);
                });
            });
        });
    });
</script>
<h3>Hosted Apps:</h3>
<div class="app-container">

</div>
<!--Test App-->
@*<iframe src="" style="border: 1px solid #414141;"></iframe>*@
