@{
    ViewBag.Title = "Home Page";
}
<h3>Hosted Apps:</h3>
<div class="app-container">
    <iframe src=""></iframe>
</div>
<!--Test App-->
@*<iframe src="" style="border: 1px solid #414141;"></iframe>*@
