@{
    ViewBag.Title = "Home Page";
}
<script>
    $(document).ready(function () {
        //ServerApi.fetchApplications().done(function (apps) {
        //    apps.forEach(function (app) {
        //        $.get("./Content/Templates/ApplicationTile.html", function (template) {
        //            var html = ServerApi.initApp(app, template);
        //            $(".app-container").append(html);
        //            $(".start", html).click(function () {
        //                $(".app").append(ServerApi.startApp(app));
        //            });
        //        })
        //    });
        //});

        //1 register
        networkManager.emulate(false);

        //ctor param: datacontext, offline/online flag(ko.observable)
        //prop:isprocessing (ko.observable) ???
        networkManager.setDataContext(cortex.beam.data.repository.data);
        networkManager.registerRequest({
            id: "readDeal",
            formatter: function (dealNo, dealStatus) {return "";}
            executionType: "transaction",
            onBefore: function (dealNo, dealStatus,datacontext) { console.log("Do something before the request!"); },
            onSuccess: function (dealNo, dealStatus,datacontext) { console.log("The request is successfully executed!"); },
            onFail: function (dealNo, dealStatus,datacontext) { console.log("Something went wrong!"); }
        });
        //1 usage
        networkManager.readDeal(dealNo, dealStatus);
    });
</script>
<div style="position:relative;">
    <canvas class="bg-canvas" width="500" height="500">
        Your browser does not support canvas!
    </canvas>
    <canvas class="fg-canvas" width="500" height="500">
        Your browser does not support canvas!
    </canvas>
</div>
<h3>Hosted Apps:</h3>
<div class="app-container">
</div>

<div class="app">

</div>

<script>

</script>

<!--Test App-->
@*<iframe src="" style="border: 1px solid #414141;"></iframe>*@
